{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 class="main title">Aqui estão as enquetes abertas para serem respondidas</h1>
    <ul class="main list">
        {% for pergunta in perguntas %}
        <li class="main listitem"><a  href="{% url 'responder' pergunta.id %}">{{ pergunta }}</a></li>
        <!-- em href, o Django espera um URL no arquivo urls.py com o nome name='responder' -->
        {% endfor %}
    </ul>
</body>
</html>